/* importando a fonte poppins (google fonts) */
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,600;0,900;1,100&display=swap');

  /* _____________________________________________ */
  /* Reset (básico) */

  * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Poppins', sans-serif;
  }

  html {
    /* variáveis em CSS */

    --corPrimaria: #017143;

    --corSecundaria: #333;

    --corTerciaria: #fff;

  }

  main{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--corTerciaria);
  }

  /* _____________________________________________________ */
  /* header */

  header {
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  header .logo{
    position: relative;
    max-width: 80px;
  }
  
  header .logo:hover{
    invert(0.1);
  }

  header ul{
    position: relative;
    display: flex;
  }

  header ul li {
    list-style: none;
  }

  header ul li a{
    display: inline-block;
    color: var(--corSecundaria);
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    padding: 5px;
    margin-left: 40px;
  }

  header ul li a:hover{
    background-color: var(--corPrimaria);
    color: var(--corTerciaria);
    border-radius: 10px;
  }

  .conteudo{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .conteudo .textoPrincipal{
    position: relative;
    max-width: 600px; /*Largura área de texto*/
    
  }

    .conteudo .textoPrincipal h2{
        color: var(--corSecundaria);
        font-size: 2.5em;
        line-height: 1.5em;
        font-weight: 400;
    }

    .conteudo .textoPrincipal h2 span{
        color: var(--corPrimaria);
        font-size: 1.2em;
        font-weight: 900;
    }

    .conteudo .textoPrincipal p{
        color: var(--corSecundaria);
    }

    .conteudo .textoPrincipal a {
        display: inline-block;
        margin-top: 20px;
        padding: 8px 20px;
        background: var(--corPrimaria);
        color: var(--corTerciaria);
        border-radius: 40px;
        font-weight: 600;
        letter-spacing: 1px;
        text-decoration: none;
    }

    .conteudo .textoPrincipal a:hover{
        background-color: var(--corSecundaria);
        color: var(--corTerciaria);
    }

    /* ________________________________ */
    /* sorvete */

    .conteudo img box {
        width: 600px;
        display: flex;
        justify-content: flex-end;
        padding-right: 50px;
        margin-top: 50px;
    }

    .conteudo .imgBox img {
        max-width: 340px;
    }

    .sorvetes{
        position: absolute;
        left: 50%;
        bottom: 20px;
        transform: translate(-50%);
        display: flex;

    }

    .sorvetes li{
        list-style: none;
        display: inline-block;
        margin: 0 20px;
        cursor: pointer;
    }

    .sorvetes li:hover{
        transform: translateY(-15px);
    }

    .sorvetes li img{
        max-width: 60px;
    }